.horTimelineMain {
    width: 1000px;
    height: 500px;
    overflow: scroll;

    border: 2px solid #767877;
    border-radius: 10px;
}

.horTimelineTimeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*padding-left: 150px;*/
    position: sticky;
    top: 0;
    height: 25px;
    border-bottom: 1px #767877 solid;
    z-index: 2;
    background: #ffffff;



    width: 6000px;

    /*position:sticky;*/
    /*top:0;*/
}
.horTimelineTimeEmptyDiv{
    border-right: 1px #767877 solid;
    background: white;
    width: 150px;
    height: inherit;
    position: sticky;
    left: 0;
}

.horTimelineTimeElement {
    text-align: center;
    padding: 0 15px;
    color: black;
    /*color:#A6A6A6;*/
    width: 40px;

    /*!*height: inherit;*!*/
    /*line-height: 100%*/

}


.horTimelineRoomRow {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D2D4D4;
    background: white;
    /*background: #424242;*/
}

.horTimelineRoomData {
    position: relative;
    height: inherit;
    display: flex;
}


.horTimelineRoomTitle {
    background: #ffffff;


    width: 150px;
    height: max-content;
    padding: 15px 0;
    text-align: center;
    border-right: 1px solid #767877;
    font-weight: 500;
    font-size: 14px;
    min-height: 25px;

    color: black;
    /*color:#A6A6A6;*/

    position: sticky;
    left: 0;
    z-index: 1;
}
