.addIcon{
    height: 23px;
    width:  23px;
    margin-right: 4px;
    fill: white;

}

.closeIcon{
    height: 16px;
    width: 16px;
    margin-left: 4px;
    /*background: yellowgreen;*/
}

.navigateIcon{
    /*background: red;*/
    /*padding-top: 2px;*/
    height: 16px;
    width: 16px;
}

.personIcon{
    height: 14px;
    width: 16px;

    /*background: yellowgreen;*/
}