.bookingContainer{
    position: relative;
    margin: 10px auto;

    border: 1px solid #BABABA;

    background: #eeeeee;
    /*background: #e7f6f6;*/

    /*background: #edfbff;*/
    /*background: #DEDEDE;*/
    /*background: #EDEDED;*/


    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;

    padding: 15px 10px 13px;

    /*font-family: 'Fira Sans Condensed', sans-serif;*/
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.descriptionTimeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    /*height: 48px;*/
    font-size: 18px;
    font-weight: 400;

}


.bookingData{
    background: red;
    margin-top: 5px;
    width: inherit;
    /*height: 120px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


.descriptionBlock{
    width: 65%;
}

.blockWithTwoElement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*background: red;*/
}